.checkout-button {
  border-radius: 2px;
  background-color: cornflowerblue;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;

}


.checkout-button:hover {
  color: white;
  transition: all 0.3s ease-out;
  font-weight: 800;
}

.container .status-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.container .no-items-status {
  width: 100%;
  min-height: 500px;
}

.empty-bag-status{
  min-height: 500px;
}

.shop-btn {
  background-color: rgb(155, 177, 236, 0.8) !important;
} 