.checkout-button {
  border-radius: 2px;
  background-color: cornflowerblue;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;

}


.checkout-button:hover {
  color: white;
  transition: all 0.3s ease-out;
  font-weight: 800;
}