.popup-inner {
    background-color: red;
}

.close-btn {
    color: white !important;
    position: absolute;
    top: 0px;
    right: 3px;
}

.close-btn:hover {
    font-weight: 900;
}

.popup-btn  {
    border: none;
    color: white;
    background-color: transparent;
    font-weight: 500;
}

.popup-btn:hover {
    color: black;
    background-color: white;
    transition: all 0.3s ease-out;
    font-weight: 800;
}

.popup-message {
    color: white !important;
    font-weight: 600; 
    text-align: center;
}