.item-card {
    background: rgba(230, 230, 230, 0.5);
}

.img-box {
    width: 70%;
    align-self: center;
}

.card-img-top {
    height: 12vw;
    object-fit: cover;
}

.edit-btn, .delete-btn   {
    display: block;
    width: 100%;
}