@media screen and (min-width: 320px) {
  .nav-link {
    font-size: calc(11px + 3 * ((100vw - 320px) / 680));
    margin-right: 3px;
  }
}

@media screen and (min-width: 1045px) {
  .nav-link {
    font-size: 16px;
    margin-left: 10px;
  }
}

.bg-blue {
    background-color: rgb(137, 160, 243);
}

.nav-link:hover {
    font-weight: 900;
    color: white!important;
    background-color: rgba(65, 102, 234, 0.08);
    border-radius: 10px;
    transition: all 0.3s ease-out;
}

.nav-drop-link:hover {
    background: transparent;
    color: rgba(65, 102, 234, 0.5)!important;
} 

.dropdown:hover > .dropdown-menu {
  display: block;
}