.popup {
    position: fixed;
    top: 40%;
    left: 27%;
    width: 50%;
    height: 30vh;
    z-index: 1;
}

.popup-inner {
    position: relative;
    padding: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}