.button {
  background-color: #4166EA; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 3px;
}

.my-checkbox {
  width:4vw;
  height:4vh;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}